
<div class="jumbotron">
<h2>Angularjs</h2>
<p>Here you can Download the Latest Angularjs Books</p>
</div>
<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-4">
      <p>About Angular</p>
       <p>
        AngularJS It is a structural framework for dynamic web applications. 
        A hybrid HTML/JavaScript framework that simplifies building web applications
         against RESTful web services for a complete and amenable enterprise solution.
          It allows you extend HTML’s syntax to express your application’s components
           succinctly in a clear manner.
       </p>
    </div> &nbsp; &nbsp; &nbsp; 
    <div class="col-lg-4">
      <p>Links for Downloads</p>
      <ul>
       <li>
         Angular Tutorial Point <br/>
          <button type="button" class="btn btn-primary">Download</button>
       </li>
       <li>
          Angular core concepts.pdf <br/>
          <button type="button" class="btn btn-primary">Download</button>
       </li>
       <li>
         Angular Version6.pdf <br/>
          <button type="button" class="btn btn-primary">Download</button>
       </li>
       <li>
         Angular Version 5.pdf <br/>
          <button type="button" class="btn btn-primary">Download</button>
       </li>
     </ul>
  </div>
</div>
<br><br>

