
<!-- Model Content -->

<div class="Other" >
  <mat-card>
    <p  [ngStyle]="{backgroundColor: lightgrey}"    class="rubyrails"><a routerLink="/rubyrails">Ruby and Rails</a></p>
    <p  [ngStyle]="{backgroundColor: lightgreen }"  class="sass"><a routerLink="/sass">SASS</a></p>
    <p  [ngStyle]="{backgroundColor: lightred }"    class="less"><a routerLink="/less">LESS</a></p>
    <p  [ngStyle]="{backgroundColor: lightyellow }" class="git"><a routerLink="/git">GIT</a></p>
  </mat-card>
</div>
<br/>
<button type="button" class="btn btn-primary" (click)="onNoClick()">Close</button>