button{
    text-align: center;
}
text{
    color :black;
}
p{
    text-align: center;
    height : 50px;
    border : 1px solid black;
    padding : 10px;
}
.dialog-data-example.mat-card{
    background-color: antiquewhite;
}
 .mat-card{
    height: 290px;
}