
<section class="footer">
  <br><br>
  <div class="row">
  <div class="col-lg-6">
    <ul><li><a routerLink="/blog">Blog</a></li>
        <li><a routerLink="/section1">Articles</a></li>
    </ul>
  </div> 
  <div class="col-lg-3">
    <p> Follow us On </p>
    <p>Subscribe For Latest Updates</p>
    <form>
      <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="Enter your Email Id"/>
      </div>
      <span *ngIf="isEmail">Enter the Correct Format</span>
    </form><br>
    <button type="button" class="btn btn-primary" (click)="emailVal()">Subcribe</button>
  </div>
</div>
<br><br>
<p>&#169; Copyright  Library 2018</p>
</section>
