p{
    font-size: 20px;
}
.footer{
    background-color: rgb(19, 48, 48);
    color:white;
    border-radius: 5px;
}
button{
    border: 1px solid black;
    background-color: rgb(223, 99, 99);
    border-radius: 5px;
}
.col-lg-6,.col-lg-3,p{
    text-align: center;
}
li{
    color: white;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }