
.navbar-brand{
   font-size: 35px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-shadow: 1px;
}
.navbar-header{
    font-size: 20px;
}
.navbar{
    background-color: rgb(19, 48, 48);
    color: white;
    border-radius : 5px;
    margin-bottom:0px;
}

