<nav class="navbar">
  <div class="container-fluid">

    <!-- Navigation Header-->

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/main">Library</a>
    </div>
    
    <!-- Logout Section -->

    <div>
      <!-- Routes Parameters-->
       <ul class="nav navbar-nav pull-right logoutsection">
       <li><a routerLink="/section1">Articles</a> &nbsp; &nbsp; &nbsp; &nbsp;
        <a routerLink="/blog">About</a> &nbsp; &nbsp; &nbsp; &nbsp;
        <a routerLink="/signup">Sign Up</a>&nbsp; &nbsp; &nbsp; &nbsp;
        <a routerLink="/cart">Cart</a> &nbsp; &nbsp; &nbsp;
        <a routerLink="/login">logout</a> &nbsp; &nbsp; &nbsp; &nbsp;
       </li>
      </ul>
    </div>
  </div>
</nav>