.css .col-lg-4{
    width: 300px;
    height: 300px;
}
.panel-danger{
    color : rgb(231, 7, 7);
    height : 40px;
}
.life-container{
    border : 1px solid black;
    border-radius: 2px;
    height: 50px;
    text-align: center;
    padding : 10px;
}
i{
    color: red;
    font-size: 15px;
    font-weight: bold;
}
li{
    list-style-type: none;
}
