
<br><br>
<h3>Select your Fav Css Books</h3><br><br>
<div class="row">
  <div class="col-lg-4">
    <mat-card>
      <form (click)="keyDownFunction">
      <input type="text" class="form-control" name="item" placeholder="Enter Your Life goal.." [(ngModel)]="goalText"/>
      <br><br>
      <input type="submit" class="btn btn-primary" value="{{btnText}}" (click)="addItem()">
    </form> <br>
      <div *ngIf="isError" class="panel panel-danger">
          <div class="panel-heading"> * Please Enter Valid Selection Option</div>
        </div><br>
    </mat-card>
  </div>
  <div class="col-lg-2">
  </div>
  <div class="col-lg-4">
    <mat-card>
       <p>Your bucket list ({{ itemCount }})</p><br>
         <li class="life-container" *ngFor="let goal of goals">
           {{ goal }}
             &nbsp; 
           <i class="glyphicon glyphicon-remove removeColor" (click)="deleteItem(goal,ItemCount)">Delete</i>
         </li>    
    </mat-card>
  </div>
</div>
<br><br>
