
<!-- Login Section and Validation-->
    
 <br/><br/><br/><br/>
  <!-- Login for Library -->
       <h2>Library</h2>
      <form #loginForm="ngForm" (click)="keyDownFunction">
       <div class="row">
          <div class="col-lg-4">
          </div>
         <!-- Login -->
         <div class="col-lg-4">
          <mat-card>
            <app-input #username [label]="'Username:'" placeholder = "Enter Your Username Here" [id]="'username'" 
             [type]="'text'" (ivaluechange)='valuechange($event)' 
             [ivalue]='logindata.username'></app-input><br/>
             <!--Password -->
            <app-input #password [label]="'Password:'" [id]= "'password'" placeholder = "Enter Your Password Here" 
             [type]="'text'" (ivaluechange)='valuechange($event)'
             [ivalue]='logindata.password'></app-input><br/><br/>
              <button type="submit" class="btn btn-default" (click)="loginData()">Login</button> 
              <br><br>
              <div class="login" *ngIf= "isError">
                <span> * Username or Password Must contain 8 Charectors </span>
              </div>
          </mat-card>
         </div>
        </div>
      </form>
 <br/><br/><br/><br/>


 
