h2{
    text-align: center;
}
.login.mat-card{
    width  : 350px;
    text-align :center;
    background-color: bisque;
}
.login.row.col-lg-6{
    text-align: center;
}
.login.button{
    text-align: center;
}
span{
    color : red;
    font-weight:  bold;
}



