
h2{
    font-size: 20px;
    color: rgba(255, 136, 0, 0.945);
    text-align: center;
}
.mat-grid-tile{
    border: 2px solid black;
    border-radius: 8px;
}
.one{
    color: rgb(175, 35, 17);
}
.two{
    color:rgb(148, 217, 230);
}
.three{
    color:rgb(32, 212, 203);
}
/*
Forth h4 Is No Need To Mention */
.mat-button{
    border: 1.5px solid black; 
}
.jumbotron{
height: 100vh;
}