<br>
<div style="text-align:center">
  <div class="jumbotron">  
      <h1>
        {{ title }}
      </h1>

      <p>Download & Get the Updates on Popular Front end Technologies</p>
  </div>

<mat-grid-list cols="3" rowHeight="3:2">

  <!-- First window -->

 <mat-grid-tile matTooltip="Angular Books" routerLink="/angular">
  <img src="../../assets/Angular.png">
   
  </mat-grid-tile>

  <!-- Second Window-->
  
  <mat-grid-tile routerLink="/react" matTooltip="Reactjs Books">
    <img src="../../assets/react.png">
    
  </mat-grid-tile>
  
  <!-- Third Window-->
  
  <mat-grid-tile  matTooltip="Vuejs Books" routerLink="/vuejs">
    <img src="../../assets/vuejs.jpg">
  
  </mat-grid-tile>

  <!-- Forth Window-->

  <mat-grid-tile routerLink="/javascript" matTooltip="Javascript Books">
    <img src="../../assets/javascript.jpg">
   
   
  </mat-grid-tile>

   <!-- Fifth Window -->

  <mat-grid-tile routerLink="/jquery" matTooltip="Jquery Books">
    <img src="../../assets/jquery.jpg">
  
  
</mat-grid-tile>
     
  <!-- Sixth Window -->
  
  <mat-grid-tile routerLink="/css" matTooltip="Css Books">
    <img src="../../assets/css.jpg">
    
  
  </mat-grid-tile>

  <!--Seventh Window -->
  
  <mat-grid-tile routerLink="/html" matTooltip="Html Books">
    <img src="../../assets/html.png">
    

  </mat-grid-tile>

  <!-- Eight Window -->

  <mat-grid-tile matTooltip="Other Course Books">

    <h4 class="eight">

      <button mat-button><app-dialog></app-dialog></button>

    </h4>

  </mat-grid-tile> 

</mat-grid-list>
</div>

