
<div class="jumbotron">
        <h2>CART</h2>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let table of tables">
      <td>{{table.id}}</td>
      <td>{{table.name}}</td>
      <td>{{table.price}}</td>
    </tr><br>
    <p> Click to Get the Total Price Here</p>
    <button type="button" class="btn btn-primary" (click)="getResult">Click</button>
        {{totalprice}}
      </tbody>
      </table>


