<!--The content below is only a placeholder and can be replaced.-->
<div class="container" *ngIf="isCondition">   
<app-navbar *ngIf="islogin"></app-navbar>
<router-outlet></router-outlet>
<app-footer *ngIf="islogin"></app-footer>
</div>


