

<br><br>
  <h2>
    Latest Articles
  </h2>
  <p>Angular Latest Version Coming in Aug 2018</p>
  <mat-accordion>
   <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Breaking Changes
      </mat-panel-title>
      <mat-panel-description>
       {{panelOpenState ? 'Close' : 'Click Here to learn More'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>animations: When animation is triggered within a disabled zone, the associated event (which an instance of AnimationEvent) will no longer report the totalTime as 0 (it will emit the actual time of the animation). To detect if an animation event is reporting a disabled animation then the event.disabled property can be used instead.
      forms: ngModelChange is now emitted after the value/validity is updated on its control.An Example of Animation</p>
   </mat-expansion-panel>
  </mat-accordion>
<p>React Latest Version</p>
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Breaking Changes
    </mat-panel-title>
    <mat-panel-description>
     {{panelOpenState ? 'Close' : 'Click Here to learn More'}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>Excited to announce the release of React v16.0!
     Among the changes are some long-standing feature requests, 
     including fragments, error boundaries, portals, support for custom DOM attributes,
      improved server-side rendering, and reduced file size.</p>
</mat-expansion-panel>
</mat-accordion>
<br>