
<!-- Jquery Books-->

  <p>Here You can Download Jquary Books</p>
    <h2>List of Jquery Books</h2><br>
    <div class="row">
     <div class="col-lg-4"></div>
     <div class="col-lg-6">
        <input type="text" class="form-control" name="search" placeholder="Enter the Book Name"/> <br>
        <button type="button" class="btn btn-primary">Search</button><br><br>
        <ul *ngFor="let book of books" [ngSwitch]="book.author"> 
         <li *ngSwitchCase="'Jquery1'" 
           class="text-success">Book Name : &nbsp; {{ book.name }} Book Author : &nbsp; ({{ book.author }}) Book Price : &nbsp; ({{book.price}})
           <button type="button" class="btn btn-primary">Buy It</button>
         </li>
         <li *ngSwitchCase="'Jquery2'"
           class="text-primary">Book Name : &nbsp; {{ book.name }} Book Author : &nbsp; ({{ book.author }}) Book Price : &nbsp; ({{book.price}})
           <button type="button" class="btn btn-primary">Buy It</button>
         </li>
         <li *ngSwitchCase="'Jquery3'"
           class="text-danger">Book Name : &nbsp; {{ book.name }} Book Author : &nbsp; ({{ book.author }}) Book Price : &nbsp; ({{book.price}})
           <button type="button" class="btn btn-primary">Buy it</button> 
         </li>
         <li *ngSwitchDefault 
           class="text-warning">Book Name : &nbsp; {{ book.name }} Book Author : &nbsp; ({{ book.author }}) Book Price : &nbsp; ({{book.price}})
           <button type="button" class= "btn btn-primary">Buy It</button> 
        </li>
        </ul>
     </div>
    </div>
<br><br>
  

