<br>
    <div class="jumbotron">
      <h2>Vuejs</h2>
      <p>Here you can Download the Lates Vuejs Books</p>
    </div>
  <div class="row">
    <div class="col-lg-6">
     <p>Estimating The Vuejs Books</p> <br/><br/>
     <p>Each Book Price : $256</p>
    <div class="form-group">
      <div class="books">
       <div class="row">
         &nbsp; &nbsp;
         <p></p>
         &nbsp; &nbsp;
         <p></p>
         </div>
    </div>
       <label for="Enter the Price">Number Of Books</label>
       <input type='number' class="form-control" [(ngModel)]='tax'/>
        <br/>
        <p>Add the TAX by Clicking the Button</p>
       <button type="button" class="btn btn-primary" (click)="addition()">Including Taxes</button>
 </div>
      <div class="totalamount">
         <p>Pdf Books Price : ${{tax*256+count}}</p>
      </div><br/><br/>
    <button type="button" class="btn btn-default" (click)="addCart()">Add To Card</button> 
  </div>
  <div class="col-lg-6">
    <p>Free Version of Vuejs Books Available Here</p>
    <div class="books">
      <div class="row">
           &nbsp; &nbsp;
           <p>Vuejs-1</p>
           &nbsp; &nbsp;
           <p>Vuejs-2</p>
        </div>
      </div>
    <button type="button" class="btn btn-warning">Download</button><br/><br/>
  </div>
</div>
<br/><br/>
