h2{
    text-align: center;
}
.totalamount{
    border : 2px solid black;
    border-radius : 2px;
    width:160px;
    background-color: darkgray;
}
.books p{
    border : 1px solid black;
    border-radius : 3px;
    text-align: center;
    padding : 20px;
    width :70px;
    height: 100px;
}
input{
    width: 100px;
}