<br/><h2>Sign Up Here</h2><br/>
<div class="row">
    <div class="col-lg-4"></div>
        <div class="col-lg-4">
         <mat-card>
          <form #signupForm="ngForm">
            <!--Firstname -->
            <app-input #firstname [label]="'Firstname:'" [id]="'firstname'" [type]="'text'" (ivaluechange)='valuechange($event)' 
              [ivalue]='signupdata.firstname'></app-input><br/>
            <!--Last Name -->
              <app-input #lastname [label]="'Lastname:'" [id]="'lastname'" [type]="'text'" (ivaluechange)='valuechange($event)'
              [ivalue]='signupdata.lastname'></app-input><br/>
            <!--Enter Email -->
            <app-input #email [label]="'Email:'" [id]="'email'" [type]="'text'" (ivaluechange)='valuechange($event)'
             [ivalue]='signupdata.email'></app-input><br/>
            <!--Password -->
            <app-input #password [label]="'Password:'" [type]="'text'" [id]="'password'" (ivaluechange)='valuechange($event)'
             [ivalue]='signupdata.password'></app-input><br/>
            <!--button -->
            <button type="button" class="btn btn-primary" (click)="signupData()">Sign up</button>
          </form><br>
          <div class="Error" *ngIf="isError">
            <span>* Email or Password Must have 8 Charectors</span>
          </div>
         </mat-card> 
        </div>
</div>
<br/><br/>
