
<!-- Input Binding for Login , Signup -->
<div class="form-group">
  <label for="{{id}}">{{label}}</label>
  <input type="{{type}}" class="form-control" id="{{id}}"  [(ngModel)]="ivalue" (keyup)="change($event)" name="{{iname}}" >
</div>
