
<div class="row">
    <div class="col-lg-3">
        <h3>About</h3>
        <p>This Application Gives you the complete Knwonledge on the Latest Front end Technologies,
            which are available in the Market</p>
    </div> &nbsp;
    <div class="col-lg-3">
        <h3>About Author</h3>
        <p>
            Author Is continously researching on the Various Front end technlogies
        </p>
    </div>
</div>
