<div class="row">
  <div class="col-lg-4">
    <h2>Here You can download the Free Version of Html Books</h2>
  </div>
  <div class="col-lg-4">
    <h2>Here you can buy html Books</h2>
  </div>
</div>
