 <!-- Javascript Downloadable Books-->
   <br>
   <div class="jumbotron">
       <h2>Javascript</h2>
       <p>Here you can Download the Latest Javascript Books</p>
       </div>
 
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> NO </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="version">
      <mat-header-cell *matHeaderCellDef> Version </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.version}} </mat-cell>
    </ng-container>

    <!-- Download Column -->
    <ng-container matColumnDef="download">
      <mat-header-cell *matHeaderCellDef> Download</mat-header-cell>
      <mat-cell *matCellDef="let element"><button type="button" class="btn bnt-primary">Download</button></mat-cell>
    </ng-container>
    <!-- Author Name -->
    <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef> Author</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.author}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

