.javascript 
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
 .javascript .mat-table {
    overflow: auto;
    max-height: 500px;
   
  }
  .javascript .button{
    color:lightskyblue;
    border: 1px solid black;
    border-radius : 2px;
  }