/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.container{
    border: 1.5px solid black;
    border-radius: 5px;
    width: 100%;
    height: fit-content;
    font-family: "Tahoma";   
}
a:link{
    text-decoration: none;
}
.button{
    text-align: center;
}
