<br>
<div class="jumbotron">
    <h2>Reactjs</h2>
    <p>Here you can Download the Lates Reactjs Books</p>
    </div>
<mat-card>
<mat-tab-group>
    <mat-tab label="React Latest Version" active>
      <p> Here You can Download the latest version of Books</p>
      <mat-card>
        <div class="row">
           <div class="col-lg-2">
           </div>
           <div class="col-lg-4">
               <p>Download the Latest version of the React v16</p>
               <button type="button" class="btn btn-primary">Download</button>
           </div> &nbsp; &nbsp; &nbsp;
           <div class="col-lg-4">
                <p>Download the Latest version of the React v15</p>
                <button type="button" class="btn btn-danger">Download</button>
            </div>
        </div>
       </mat-card>
    </mat-tab>
    <mat-tab label="Es 6 And Redux Books" active>
       <p>Here You can download the ES6 Books</p><br/>
       <mat-card>
        <div class="row">
           <div class="col-lg-2">
           </div>
           <div class="col-lg-4">
               <p>Es 6 Books </p>
               <button type="button" class="btn btn-primary">Download</button>
           </div> &nbsp; &nbsp; &nbsp;
           <div class="col-lg-4">
               <p>Redux Books</p>
               <button type="button" class="btn btn-danger">Download</button>
           </div>
        </div>
     </mat-card>
    </mat-tab>
</mat-tab-group>
</mat-card>
<br><br><br><br>
