<!--Git Component (or) Html Page-->
<div class="jumbotron">
  <h2>Git</h2>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Download</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let table of tables">
    <td>{{table.id}}</td>
    <td>{{table.name}}</td>
    <td><button type="button" class="btn btn-primary">Download</button></td>
  </tr>
</tbody>
</table>
